---
import PostsLayout from '@src/layout/postsLayout.astro'
import Footer from '@src/components/blog/Footer.astro'
import PhotoCard from '@src/components/ui/photoCard.astro'
import { photo as PhotoList } from './index'

const assetsPhoto = import.meta.glob(
  '/src/assets/photo/*/*.{jpeg,jpg,png,gif,webp}',
)
---


<PostsLayout clean={true}>
    <main class="max-w-[90%] mx-auto">
        {
            Object.keys(PhotoList).reverse().map(year => (
                <section class="mb-12">
                    <h2 class="text-xl font-bold mb-4 text-center">{year}年</h2>
                    <div class="grid grid-cols-1 gap-x-4 items-start 3xl:grid-cols-3 md:grid-cols-2">
                        {/* TODO:dont's use js */}
                        {
                            PhotoList[year].sort((a, b) => new Date(b.date as string).getTime() - new Date(a.date as string).getTime()).map(item => (
                                <PhotoCard data={item} images={assetsPhoto} />
                            ))
                        }
                    </div>
                </section>
            ))
        }
    </main>
    <Footer />
</PostsLayout>