---
import PostsLayout from '@src/layout/postsLayout.astro'
import ProjectCard from '@src/components/project/projectCard.astro'
import { projectList as ProjectList } from './interface'
---

<PostsLayout>
	<main class="md:max-w-[75ch] max-w-[90%] mx-auto">
		<h1 class="text-3xl font-bold text-center mb-8">项目</h1>
        {
            ProjectList.length !== 0 ? (
                <article>
                    {ProjectList.map((project) => (
                        <ProjectCard name={project.name} description={project.description} link={project.link} />
                    ))}
                </article>
            ) : (
                <div class="text-center">暂无项目</div>
            )
        }
	</main>
</PostsLayout>
