---
import { Picture } from 'astro:assets'
import SocialTag from '@src/components/widgets/social/socialTag.astro'
import TextLink from '@src/components/widgets/text-link.astro'
import TextLinkDefault from '@src/components/widgets/text-link-default.astro'
import myAuthor from '@src/assets/author/2023-10.png'
---

<article>
    <div class="max-w-40 rounded-full overflow-hidden shadow-lg mb-2 animate-pulse cursor-pointer" onclick=`window.open('${myAuthor && myAuthor.src}','popup','width=504,height=470,scrollbars=no,resizable=no,toolbar=no,directories=no,location=no,menubar=no,status=no,left=0,top=0'); return false`>
        <Picture src={myAuthor} alt="作者2023年10月拍摄" formats={["avif", "webp"]} />
    </div>
    <p class="text-lg inline-flex">
        我是一位前端开发在
        <TextLinkDefault link='https://maps.app.goo.gl/HtjXLvthVnbDBdYP7' text='杭州'/>
    </p>
    <p class="text-lg">我的名字是金凯（字：谟凯）<span class="font-bold">谟</span>是族谱的字号</p>
    <ul class="prose mt-4">
        <!-- <li class="before:content-['-']">目前工作行业是saas/paas，针对企业售后问题</li> -->
        <li class="before:content-['-']">拥有<TextLink link='https://cn.vuejs.org/' text='Vue'/>开发经验一年</li>
        <li class="before:content-['-']">喜欢<TextLink link='https://astro.build/' text='Astro'/>三年了！</li>
    </ul>
    <SocialTag />

</article>
