---
import PostsLayout from '@src/layout/postsLayout.astro'
import NoPage from '@src/components/widgets/noPage.astro'
---

<PostsLayout clean={true}>
    <div class="flex justify-center items-center flex-col" style="height: calc(100vh - 160px);">
        <h1 class="text-4xl font-bold text-center">DON'T FOUND PAGE</h1>
        <NoPage />
    </div>
</PostsLayout>