---
import BaseLayout from '@src/layout/baseLayout.astro'
---

<BaseLayout>
	<main class="max-w-[75ch] mx-auto">
		<h1 class="text-3xl font-bold mb-4">欢迎来到我的个人博客</h1>
		<p class="mb-4">This is a simple Astro site using Astro CLI and Astro Vite.</p>
	</main>
</BaseLayout>
