---
import PostsLayout from '@src/layout/postsLayout.astro'
import Footer from '@src/components/blog/Footer.astro'
import Author from '@src/components/widgets/author.astro'
import Classify from '@src/components/blog/classify.astro'
---

<PostsLayout>
	<main class="max-w-[90%] md:max-w-[75ch] mx-auto">
		<h1 class="text-3xl font-bold mb-4 typing-demo">欢迎来到我的个人博客❤️</h1>
		<Author />
    <Classify />
		<Footer />
	</main>
</PostsLayout>

<style>
	.typing-demo {
      width: 12em;
      animation: typing 2s steps(12, end), blink 0.5s step-end infinite alternate;
	  border-right: 3px solid;
      white-space: nowrap;
      overflow: hidden;
    }

    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 12em;
      }
    }

    @keyframes blink {
      50% {
        border-color: transparent;
      }
    }
</style>