---
import PostsLayout from '@src/layout/postsLayout.astro'
import TextLink from '@src/components/widgets/text-link.astro'
import RenderImage from './components/renderImage.tsx'
import { links } from './interface'
---

<PostsLayout>
    <main class="max-w-[90%] md:max-w-[75ch] mx-auto">
        <ul>
            {
                links.map(link => {
                    return (
                        <li class="mb-4 flex items-start gap-4">
                            <RenderImage imageData={link} client:visible />
                            <div class="flex flex-col gap-1">
                                <TextLink text={link.url} link={link.url}/>
                                <p class="text-sm">{link.desc}</p>
                            </div>
                        </li>
                    )
                })
            }
        </ul>
    </main>
</PostsLayout>