---
export interface Props {
  customClassName?: string
}
const { customClassName } = Astro.props
---

<footer class="jinmokai-footer leading-6 text-center text-gray-500 py-4 mt-12 w-max whitespace-normal" class:list={customClassName ? customClassName : ''}>
    <p>© 2024 Copyright jinkai. All rights reserved. Made in China use Astro ❤️</p>
</footer>

<script data-astro-rerun is:inline>

function adjustFooterPosition() {
  const footer = document.querySelector('.jinmokai-footer');

  if (!footer) return
  const windowHeight = window.innerHeight;
  const documentHeight = document.documentElement.scrollHeight;

  if (documentHeight <= windowHeight) {
    (footer).style.position = 'fixed';
    (footer).style.bottom = '0';
    (footer).style.left = '50%';
    (footer).style.transform = 'translateX(-50%)'
  } else {
    (footer).style.position = 'relative';
    (footer).style.bottom = 'auto';
    (footer).style.left = '50%';
    (footer).style.transform = 'translateX(-50%)'
  }
}

function debounce(func, delay) {
  let timer;

  return function() {
    const context = this;
    const args = arguments;

    clearTimeout(timer);
    timer = setTimeout(() => {
      func.apply(context, args);
    }, delay);
  };
}
 
window.addEventListener('DOMContentLoaded', function() {
  adjustFooterPosition();
  window.addEventListener('resize', debounce(adjustFooterPosition, 200));
});

document.addEventListener('astro:page-load', () => {
  adjustFooterPosition()
})
</script>