---
export interface Props {
  customClassName?: string
}
const { customClassName } = Astro.props
---

<footer class="leading-6 text-center text-gray-500 py-4 mt-12" class:list={customClassName ? customClassName : ''}>
    <p>© 2024 Copyright jinkai. All rights reserved. Made in China use Astro ❤️</p>
</footer>