---
import { getCollection } from 'astro:content'
import PostsLayout from '@src/layout/postsLayout.astro'
// components
import HeadContent from '@src/components/blog/HeadContent.astro'
import Footer from '@src/components/blog/Footer.astro'
export async function getStaticPaths() {
  const blogs = await getCollection('blogs')
  const blogsList = blogs.filter((item) => !item.data.draft)
  return blogsList.map((entry) => {
    return {
      params: {
        blog: entry.slug,
      },
      props: {
        entry,
      },
    }
  })
}
const { blog } = Astro.params
const { entry } = Astro.props
const { Content } = await entry.render()
---

<PostsLayout title={blog}>
  <main>
    <div class="flex flex-col items-center lg:max-w-[800px] max-w-[80%] mx-auto">
       <HeadContent headInfo={entry}/>
      <div class="prose prose-p:my-4 !max-w-[inherit] prose-headings:mb-2 prose-td:text-center prose-td:align-middle prose-th:whitespace-nowrap">
        {Content ? <Content /> : <Fragment set:html={entry.body} />}
      </div>
    </div>
  </main>
  <Footer />
</PostsLayout>

<script>
  document.addEventListener('DOMContentLoaded',  () => {
    const thElements = document.querySelectorAll('th:empty');
    const trElements = document.querySelectorAll('tr:empty');
    const tdElements = document.querySelectorAll('td:empty');
    thElements.forEach(th => {
      th.textContent = '-';
    });
    trElements.forEach(tr => {
      tr.textContent = '-';
    })
    tdElements.forEach(td => {
      td.textContent = '-';
    })
  });
</script>