---
interface Props {
	showTip: boolean;
}
const { showTip } = Astro.props;
---
<!-- 
    If you use the tip prompt, you can use the tip slot
 -->
<div class="code">
    {
        showTip && (
            <div class="code-tip bg-codeTipBg text-xs px-5 py-3 border-b-[1px] border-gray-300">
                <slot name="tip"/>
            </div>
        )
    }
    <div class="code-content">
        <slot name="code"/>
    </div>
</div>

<style>
    /* The purpose of using inline within a component is to penetrate the internal style of the component  */

.code-content :global(.code-content > .astro-code)  {
    background-color: rgb(var(--code-bg) / 1) !important;
    margin-top: 0;
    border-top-left-radius: 0;
}
</style>