---
import type { Head } from "@src/components/ui/type";
import Tag from "@src/components/widgets/tag.astro";
export interface Props {
	headInfo: Head;
}
const { headInfo } = Astro.props;
---

<div class="flex justify-center flex-col w-full mb-4">
    <div class="mb-4 w-fit">
        <h1 class="text-4xl font-bold text-gray-800">{headInfo.slug}</h1>
        <p class="text-right text-zinc-500 text-sm">{headInfo.data.description}</p>
    </div>
    <div class="flex w-ful">
        <div class="flex flex-row w-full space-x-4 leading-[1.67]">
            <div class="text-xs font-light text-zinc-500">
                <span>{headInfo.data.pubDate}</span>
            </div>
            <div class="text-xs font-light text-zinc-500">
                {headInfo.data.tags.map(item => (
                    <Tag tag={item}/>
                ))}
            </div>
        </div>
    </div>
</div>
