---
import { ViewTransitions } from 'astro:transitions'
const { title } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Jinmokai's blog RSS Feed"
      href={`${Astro.site}rss.xml`}
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? title : `Jinmokai's blog`}</title>
    <ViewTransitions />
  </head>
  <body>
      <slot />
  </body>
</html>

<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  @layer base {
    :root {
      --code-bg: 245 245 245;
      --gray-0: #f8f9fa;
      --gray-1: #f1f3f5;
      --gray-2: #e9ecef;
      --gray-3: #dee2e6;
      --gray-4: #ced4da;
      --gray-5: #adb5bd;
      --gray-6: #868e96;
      --gray-7: #495057;
      --gray-8: #343a40;
      --gray-9: #212529;
    }
    :where(body,html):not(.code > *, .code) {
      font-family: 'Ma Shan Zheng', cursive;
      background-color: #fafafa;
    }
  }
</style>

