---
import { ClientRouter } from 'astro:transitions';
import LoadingIndicator from "astro-loading-indicator/component"
//import '@fontsource/ma-shan-zheng';
const { title } = Astro.props
---

<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Jinmokai's blog RSS Feed"
      href={`${Astro.site}rss.xml`}
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={'我是一位在中国杭州的开发者，目前在杭州，喜欢Astro,vue等技术，喜欢记录一些日常生活和自己感兴趣历史考究，欢迎交流'} />
    <meta name="keywords" content="Jinmokai,JinKai,个人博客,开发者,前端,技术,生活记录,历史考究,Astro" />
    <meta property="og:title" content={title ? title : `Jinmokai's blog`}/>
    <meta property="og:description" content={'我是一位在中国杭州的开发者，目前在杭州，喜欢Astro,vue等技术，喜欢记录一些日常生活和自己感兴趣历史考究，欢迎交流'} />
    <meta property="og:image" content={'https://jinmokai.com/favicon.svg'} />
    <meta property="og:url" content={Astro.site} />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="zh_CN" />
    <meta name="baidu-site-verification" content="codeva-IqDyJhjnJ7" />
    <title>{title ? title : `Jinmokai's blog`}</title>
    <ClientRouter />
    <LoadingIndicator color='#2292CE' height='6px'/>
  </head>
  <body>
      <slot />
  </body>
</html>

<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  @layer base {
    :root {
      --base-font-size: 16;
      --code-bg: 245 245 245;
      --gray-0: #f8f9fa;
      --gray-1: #f1f3f5;
      --gray-2: #e9ecef;
      --gray-3: #dee2e6;
      --gray-4: #ced4da;
      --gray-5: #adb5bd;
      --gray-6: #868e96;
      --gray-7: #495057;
      --gray-8: #343a40;
      --gray-9: #212529;
    }
 
    :where(body,html):not(.code > *, .code) {
      /* font-family: 'Ma Shan Zheng', cursive; */
      /* font-family: cursive; */
      background-color: #fafafa;
    }
    
    html {
      font-size: calc(var(--base-font-size) * 1px);
      --html-font-size: var(--base-font-size);
    }
  }
</style>

