---
import Header from '@src/components/blog/Header.astro'
const { title } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? title : `Jinmokai's blog`}</title>
  </head>
  <body>
    <Header />
    <div class="pt-24">
      <slot />
    </div>
  </body>
</html>

<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  @layer base {
    :root {
      --code-bg: 245 245 245;
      --gray-0: #f8f9fa;
      --gray-1: #f1f3f5;
      --gray-2: #e9ecef;
      --gray-3: #dee2e6;
      --gray-4: #ced4da;
      --gray-5: #adb5bd;
      --gray-6: #868e96;
      --gray-7: #495057;
      --gray-8: #343a40;
      --gray-9: #212529;
    }
    :where(body,html):not(.code > *, .code) {
      font-family: 'Ma Shan Zheng', cursive;
      background-color: #fafafa;
    }
    img {
      background: linear-gradient(99deg, rgba(143,157,159,1) 0%, rgba(240,240,240,1) 83%);
    }
  }
</style>

<script>
    const images = document.querySelectorAll("img");

    images.forEach((img) => {
      if (img.complete) {
        img.style.background = "none";
      } else {
        img.addEventListener("load", () => {
          img.style.background = "none";
        });
        img.addEventListener("error", () => {
          console.error(`Image failed to load: ${img.src}`);
        });
      }
    });
</script>